* {
  box-sizing: border-box;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #f1f1f1; /* Optional border to give padding between the thumb and the track */
}

body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", monospace;
}

.App {
  min-height: 100vh;
  overflow: hidden;
}
